@import "./../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color:#404040;
    color:lightgrey;
}

.type{
    display:inline-block;
    border: 2em;
    border-radius: 6em;
    padding:0.5em;
    text-align:center;
    font-size: 1em;
    width:70px;
}
.normal{
    @extend .type;
    background-color:darkgrey
}
.dark{
    @extend .type;
    background-color:grey;
    color:white
}
.grass{
    @extend .type;
    background-color:green;
}
.poison {
    @extend .type;
    background-color:magenta;
}
.flying{
    @extend .type;
    background-color:skyblue;
}
.fire{
    @extend .type;
    background-color:orangered;
}
.dragon{
    @extend .type;
    background-color:purple;
    color:white
}
.ice{
    @extend .type;
    background-color:#C8E9E9;
}
.ghost{
    @extend .type;
    background-color:blueviolet;
}
.water{
    @extend .type;
    background-color:aqua;
}
.bug {
    @extend .type;
    background-color:greenyellow;
}
.rock{
    @extend .type;
    background-color:#694605;
}
.electric{
    @extend .type;
    background-color:yellow;
}
.steel{
    @extend .type;
    background-color: #71797E;
}
.psychic{
    @extend .type;
    background-color: darkviolet;
}
.fairy{
    @extend .type;
    background-color: pink;
}