@import "./../node_modules/bootstrap/scss/bootstrap.scss";


.grass{
    color:green;
}
.poison {
    color:magenta
}
.flying{
    color:skyblue
}
.fire{
    color:orangered;
}
.dragon{
    color:purple
}
.ice{
    color:#C8E9E9
}
.ghost{
    color:blueviolet
}
.water{
    color:aqua
}
.bug {
    color:greenyellow
}
.rock{
    color:#694605
}